In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [40]:
# lets get the url
full_url = 'https://www.jumia.co.ke/mobile-phones/?page=1#catalog-listing'
baseurl = 'https://www.jumia.co.ke/mobile-phones/?page='
num = '1'
separator = '#catalog-listing'

## # fetching only one page

In [33]:
url = baseurl + num + separator

res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

# log the title to prove its fine
print(soup.title)

<title>Buy Mobile Phones and Tablets Online | Jumia Kenya</title>

In [42]:
# get all Phones in the page

for i in soup:
        phones_fromDiv = soup.find_all('div', {'class':'itm col'})
        phones_fromArticle = soup.find_all('article', {'class': 'prd _fb col c-prd'})
        phones = phones_fromDiv + phones_fromArticle


# Print the length of the 'phones_fromDiv' list
print(len(phones))

110

In [49]:
# lets get the name and price and image
phones_data = []
for i in phones:
    try:
        name = i.find('div', {'class': 'name'}).get_text()
    except AttributeError:
        name = i.find('h3', {'class': 'name'}).get_text()  
    image = i.find('img',{'class':'img'})['data-src']
    price = i.find('div', {'class':'prc'}).get_text()
    phones_data.append([name, price, image])

print(len(phones_data))

110

Now we create the df and the save to csv

In [51]:
df = pd.DataFrame(phones_data, columns=["phone_name", "phone_price", "image"])
df.head()
# df.info()

,phone_name,phone_price,image
0,"Tecno Spark 10 Pro, 6.8"" , 128GB + 8GB, 50MP, ...","KSh 23,399",https://ke.jumia.is/unsafe/fit-in/300x300/filt...
1,"Samsung Galaxy A14, 6.6"", 128GB + 4GB, 50MP, D...","KSh 26,898",https://ke.jumia.is/unsafe/fit-in/300x300/filt...
2,"Nokia C1 2nd Edition, 5.45"" - 16GB + 1GB (Dual...","KSh 8,799",https://ke.jumia.is/unsafe/fit-in/300x300/filt...
3,"Oppo Reno 8 T, 4G, 6.43', 8GB + 256GB, 100MP ...","KSh 39,999",https://ke.jumia.is/unsafe/fit-in/300x300/filt...
4,"Nokia G11 Plus 6.52"" 4GB + 64GB, 50MP, 5000MAh...","KSh 15,995",https://ke.jumia.is/unsafe/fit-in/300x300/filt...

In [52]:
# save as csv

df.to_csv('jumia_phones_p1.csv')